numpy
scipy
Pillow
cython
matplotlib
scikit-image
tensorflow>=2.0.0
opencv-python
h5py
imgaug
IPython[all]
torch==1.4.0
torchvision==0.5.0
tqdm
yacs
pycocotools
json-tricks
munkres
EasyDict==1.7
Cython
pandas
pyyaml
json_tricks
tensorboardX
cffi